/* Hey if you are a Vivaldi dev, can you please add some more animations to your browser.

Please, your browser is missing way to many animations. Most of them can be added with one line of code.


/* =============================================
global stuff (hopefuly this doesnt break anything)
============================================= */

/*
select:active {
    animation: dropfade 300ms cubic-bezier(0.2, 0.9, 0.6, 1) !important;
} */

.manager, .about-page {
      z-index: 1000;
  animation: dropfade 500ms cubic-bezier(0.2, 0.9, 0.6, 1)
}

.startpage .startpage-content .sdwrapper.has-SpeedDial {
    animation: dropfade 500ms cubic-bezier(0.2, 0.9, 0.6, 1) !important;
}

/* =============================================
Top tab bar animations
=============================================*/
#browser .tabbar-wrapper, #browser.tabs-top #header {
    transition: .4s ease-out;
}
#browser:not(.transparent-tabbar) #tabs-tabbar-container {
    transition: .4s ease-out;
}

#browser.linux #tabs-container .window-buttongroup {
    top: calc(10px / var(--uiZoomLevel));
}

button.window-minimize, button.window-maximize, button.window-close {
    background-color: rgba(255, 255, 255, 0.05) !important;
    transition: .4s ease-out;
}
button.window-minimize:hover, button.window-maximize:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    transition: .4s ease-out;
}
button.window-close:hover {
    background-color: rgb(238, 0, 16) !important;
    transition: .3s ease-out;
}


/* =============================================
Search bar drop down thing 
=============================================
*/
.OmniLinkItem {
    transition: 0.35s ease-out;
}
.OmniLinkItem:hover, .OmniLinkItem--Highlighted:not(.OmniLinkItem--ButtonFocus) {
    --grid-gap: 16px !important;
    transition: 0.2s;
}



/* =============================================
Startpage top bar 
=============================================*/
.startpage .startpage-navigation {
    width: fit-content;
    background-color: var(--colorBgAlphaBlur);
    border-radius: calc(var(--radius) * 2);
    backdrop-filter: var(--backgroundBlur);
    box-shadow: none;
    right: 0;
    left: 0;
    position: fixed;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 4px auto 0px auto;
    padding: 5px 20px;
    transition: 0.3s;
}

.startpage .startpage-navigation .startpage-navigation-group .button-startpage {
    transition: 0.5s;
    border-radius: calc(var(--radius) * 2);

    &:hover {
        transition: 0.35s;
        background-color: var(--colorFgAlpha);
    }
}

.button-startpage:focus-visible, .button-startpage.active {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

/* =============================================
Startpage in genral 
=============================================*/
.SpeedDialView-Settings.navigation-title {
    top: 0;
}

.sdwrapper .iconmenu-container.SearchField {
    background-color: var(--colorBgAlphaBlur);
    backdrop-filter: var(--backgroundBlur);
}

.sdwrapper.has-SpeedDial .SpeedDialView {
    padding: 128px 0 40px;
}

/*  =============================================
Mail window
=============================================  */
.list-wrapper > .mail-loading {
    background-color: transparent;
}
    
.webpageview #mail_view .list-wrapper .jump-to-latest-container {
    animation: dropfade 300ms cubic-bezier(0.2, 0.9, 0.6, 1) !important;
}


.webpageview #mail_view #mail_search {
    background-color: var(--colorBgIntense);
}

.webpageview #mail_view .list-wrapper {
    margin-left: 5px;
}

.theme-dark#browser:not(.inner) .webpageview #mail_view.vertical #mail_detail, #browser:not(.inner) .webpageview #mail_view.vertical #mail_detail {
    border-left: 1px solid var(--colorBorder);
}


.MailListButtons, #mail_view .sortselector  {
    border-left: 1px solid var(--colorBorder);
    border-bottom: 1px solid var(--colorBorder);
    background-color: var(--colorBg) !important;
    
    &:hover {
    background-color: var(--colorFgAlpha) !important;
    }
}

/*  =============================================
tree rows in bookmarks, history, etc 
=============================================  */


.TabButtonPopup .tree-item[data-expanded] .tree-row {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.vivaldi-tree .tree-row {
    transition: background-color 0.4s ease-out;
    border-radius: var(--radius);
    padding-left: 2px;
}

.vivaldi-tree .tree-row:hover {
    transition: background-color 0.25s;
    background-color: var(--colorFgAlpha);
}

.sortselector.sortselector-tableheader > div .sortselector-button {
    margin: 0px 0px;
    border-radius: var(--radius);
    background: var(--colorBgDark);
    transition: background-color 0.3s ease-out;

}

.sortselector.sortselector-tableheader > div .sortselector-button:hover {
    background: var(--colorBgLighter);
    transition: 0.1s;

}
.sortselector {
    background-color: transparent !important;
    border-top: none;
    border-bottom: none;
    border-color: none;
    gap: 4px
}

.startpage .history .manager-content {
    padding-left: var(--scrollbarWidth);
}

.NotesManager-Tree-Container {
    padding-left: var(--scrollbarWidth);
}

.sortselector .SlideBar--FullHeight.alternate {
    margin: 0 -3px 0 1px;
}

/* new tab manager thing */
.hasfocus .TabButtonPopup .vivaldi-tree .VivaldiList:focus-within .tree-row[data-selected] .window-entry:not(.window-entry-button) {
    border-radius: var(--radius);
}

.TabButtonPopup .vivaldi-tree .VivaldiList .tree-item .tree-row {
    transition: unset;
    border-radius: unset; /* this just stops the new tab manger thing from looking bugged */
}
.TabButtonPopup .tree-item .tree-row:has(.window-parent:not(.window-child)) {
    border-radius: var(--radius); /* this just stops the new tab manger thing from looking bugged */
}
.TabButtonPopup .tree-row-selected label, .TabButtonPopup .tree-row:hover label {
    background-color: var(--colorFgAlpha);
    border-radius: var(--radius) !important;
    transition: background-color 0.2s ease-out
}


/* search popup box when you press ctrl + e thing */
.hasfocus .quick-command-container .quick-commands .quick-command[data-selected]{ 
    padding: 0 6px 0 16px;
    transition: 0.2s;
}

.quick-command-container .quick-commands .quick-command {
    margin-left: var(--scrollbarWidth);
    border-radius: var(--radius);
    padding: 0 6px 0 6px;
    transition: 0.35s ease-out;
}

#modal-bg .modal-wrapper {
    background-color: var(--colorBgAlphaBlur) !important;
    backdrop-filter: var(--backgroundBlur);
}


/* buttons animations */

.toolbar-default .button-toolbar > button:enabled {
    background-color: var(--colorBg);
    transition: .4s ease-out;
    background-image: none !important;
}

.toolbar-default .button-toolbar > button:hover {
    transition: .2s ease-out;
    background-color: var(--colorBgLighter);
}

input[type=button]:not(.circular), input[type=submit], input[type=color], .FormButton {
    background-color: var(--colorBg);
    transition: .4s ease-out;
    background-image: none !important;
    
    &:hover {
        transition: .2s ease-out;
        background-color: var(--colorBgLighter);
    }
}

select:enabled:not([multiple], [size]), .VivaldiSelector:not(:focus-within, .Inner--is-disabled) .Inner__control {
    background-color: var(--colorBg);
    transition: .4s ease-out;
    background-image: none !important;
    
    &:hover {
        transition: .2s ease-out;
        background-color: var(--colorBgLighter);
    }
}

.toolbar-default .button-toolbar > button:disabled {
    color: var(--colorFgFadedMost);
    background-color: var(--colorBgIntense);
    border-color: var(--colorBorder);
}


/* =============================================
side panel animations 
=============================================
*/

/* these are changing the unfoucesd selected stuff (vivaldi why tf is this not a thing? */
.vivaldi-tree .tree-row[data-selected] {
    background-color: color-mix(in oklab, var(--colorHighlightBg) 25%, transparent);
}

.panel#mail_panel .tree-item:is([data-selected]) .tree-row .mail_panel_node, .panel#mail_panel .tree-item:is([data-selected]) .tree-row .mail-panel-category {
    background-color: color-mix(in oklab, var(--colorHighlightBg) 25%, transparent);
}

#window-panel .vivaldi-tree .VivaldiList .tree-row[data-selected] .window-entry:not(.window-entry-button) {
    background-color: color-mix(in oklab, var(--colorHighlightBg) 25%, transparent);
}





#window-panel .vivaldi-tree .tree-row label, .panel#mail_panel .vivaldi-tree .tree-row label, #history-panel .vivaldi-tree .tree-row label {
    transition: 0.35s ease-out;
    border-radius: var(--radius);

    &:hover {
        background-color: var(--colorFgAlpha);
        /*gap: 10px; <- TODO fix this one day */
        transition: 0.2;
        padding-left: 16px;
    }
}

.panel {
    animation: dropfade 500ms cubic-bezier(0.2, 0.9, 0.6, 1) !important;
}

/* =============================================
privacy popup menu
============================================= */
.theme-dark .PrivacyDash-Title {
    background: linear-gradient(90deg, #893e15, #582560 50%, #185c7c);
}

.theme-dark .PrivacyDash .dialog-header {
    background: linear-gradient(90deg, #893e15, #582560 50%, #185c7c);
}


/* =============================================
settings tweaks bc why not lol
============================================= */
.vivaldi-settings {
    background-color: transparent; /* maybe remove this if it breaks anything but so far nothing broke */
}

.vivaldi-settings .settings-sidebar {
    background-color: var(--colorBgAlphaBlur);
    backdrop-filter: var(--backgroundBlur);
}

.vivaldi-settings .settings-sidebar .button-category.category-selected {
    background-color: var(--colorHighlightBg);
    transition: 0.2s;
}
.vivaldi-settings .settings-sidebar .button-category.category-selected:hover {
    background-color: var(--colorHighlightBg);
    transition: 0.2s;
}

.vivaldi-settings .settings-sidebar .button-category:hover {
    background-color: var(--colorFgAlpha);
    transition: 0.35s;
}
.vivaldi-settings .settings-sidebar .button-category {
    transition: 0.5s ease-out;
}

/* Adds a cool animation to settings (come on vivaldi... its one line of code)*/
section.setting-section {
    animation: dropfade 300ms cubic-bezier(0.2, 0.9, 0.6, 1) !important;
}
