/* global stuff (hopefuly this doesnt break anything)*/
.toolbar-default .button-toolbar > button:enabled {
    transition: .4s ease-out;
    background-image: transparent !important;
}

.toolbar-default .button-toolbar > button:hover {
    transition: .4s ease-out;
}



/* Top tab bar animations */
#browser .tabbar-wrapper, #browser.tabs-top #header {
    transition: .4s ease-out;
}
#browser:not(.transparent-tabbar) #tabs-tabbar-container {
    transition: .4s ease-out;
}

#browser.linux #tabs-container .window-buttongroup {
    top: calc(10px / var(--uiZoomLevel));
}

button.window-minimize, button.window-maximize, button.window-close {
    background-color: rgba(255, 255, 255, 0.05) !important;
    transition: .4s ease-out;
}
button.window-minimize:hover, button.window-maximize:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    transition: .4s ease-out;
}
button.window-close:hover {
    background-color: rgb(238, 0, 16) !important;
    transition: .3s ease-out;
}


/* Search bar drop down thing */
.OmniLinkItem {
    transition: 0.35s ease-out;
}
.OmniLinkItem:hover, .OmniLinkItem--Highlighted:not(.OmniLinkItem--ButtonFocus) {
    --grid-gap: 16px !important;
    transition: 0.2s;
}



/* Startpage top bar */
.startpage .startpage-navigation {
    width: fit-content;
    background-color: var(--colorBgAlphaBlur);
    border-radius: calc(var(--radius) * 2);
    backdrop-filter: var(--backgroundBlur);
    box-shadow: none;
    right: 0;
    left: 0;
    position: fixed;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 4px auto 0px auto;
    padding: 5px 20px;
    transition: 0.3s;
}

.startpage .startpage-navigation .startpage-navigation-group .button-startpage {
    transition: 0.5s;
    border-radius: calc(var(--radius) * 2);

    &:hover {
        transition: 0.35s;
        background-color: var(--colorFgAlpha);
    }
}

.button-startpage:focus-visible, .button-startpage.active {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

/* Startpage in genral */
.SpeedDialView-Settings.navigation-title {
    top: 0;
}

.sdwrapper .iconmenu-container.SearchField {
    background-color: var(--colorBgAlphaBlur);
    backdrop-filter: var(--backgroundBlur);
}

.sdwrapper.has-SpeedDial .SpeedDialView {
    padding: 128px 0 40px;
}

/* tree rows in bookmarks, history, etc */
.TabButtonPopup .tree-item[data-expanded] .tree-row {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.vivaldi-tree .tree-row {
    transition: background-color 0.4s ease-out;
    border-radius: var(--radius);
    padding-left: 2px;
}

.vivaldi-tree .tree-row:hover {
    transition: background-color 0.25s;
    background-color: var(--colorFgAlpha);
}

.sortselector.sortselector-tableheader > div .sortselector-button {
    margin: 0px 0px;
    border-radius: var(--radius);
    background: var(--colorBgDark);
    transition: background-color 0.3s ease-out;

}

.sortselector.sortselector-tableheader > div .sortselector-button:hover {
    background: var(--colorBgLighter);
    transition: 0.1s;

}
.sortselector {
    background-color: transparent !important;
    border-top: none;
    border-bottom: none;
    border-color: none;
    gap: 4px
}

.startpage .history .manager-content {
    padding-left: var(--scrollbarWidth);
}

.NotesManager-Tree-Container {
    padding-left: var(--scrollbarWidth);
}

.sortselector .SlideBar--FullHeight.alternate {
    margin: 0 -3px 0 1px;
}

/* new tab manager thing */
.hasfocus .TabButtonPopup .vivaldi-tree .VivaldiList:focus-within .tree-row[data-selected] .window-entry:not(.window-entry-button) {
    border-radius: var(--radius);
}

.TabButtonPopup .vivaldi-tree .VivaldiList .tree-item .tree-row {
    transition: unset;
    border-radius: unset; /* this just stops the new tab manger thing from looking bugged */
}
.TabButtonPopup .tree-item .tree-row:has(.window-parent:not(.window-child)) {
    border-radius: var(--radius); /* this just stops the new tab manger thing from looking bugged */
}
.TabButtonPopup .tree-row-selected label, .TabButtonPopup .tree-row:hover label {
    background-color: var(--colorFgAlpha);
    border-radius: var(--radius) !important;
    transition: background-color 0.2s ease-out
}


/* search popup box when you press ctrl + e thing */
.hasfocus .quick-command-container .quick-commands .quick-command[data-selected]{ 
    padding: 0 6px 0 16px;
    transition: 0.2s;
}

.quick-command-container .quick-commands .quick-command {
    margin-left: var(--scrollbarWidth);
    border-radius: var(--radius);
    padding: 0 6px 0 6px;
    transition: 0.35s ease-out;
}

#modal-bg .modal-wrapper {
    background-color: var(--colorBgAlphaBlur) !important;
    backdrop-filter: var(--backgroundBlur);
}
/* buttons animations */
button {
    transition: 0.15s ease-in;
    &:hover {
        transition: 0.25s ease-out;
    }
}

.toolbar-panel > .button-toolbar > button {
    &:hover {
        background-color: var(--colorFgAlpha);
    }
}



/* side panel animations */
#window-panel .vivaldi-tree .tree-row label, .panel#mail_panel .vivaldi-tree .tree-row label, #history-panel .vivaldi-tree .tree-row label {
    transition: 0.35s ease-out;
    border-radius: var(--radius);

    &:hover {
        background-color: var(--colorFgAlpha);
        /*gap: 10px; <- TODO fix this one day */
        transition: 0.2;
        padding-left: 16px;
    }
}

/* privacy popup menu */
.theme-dark .PrivacyDash-Title {
    background: linear-gradient(90deg, #893e15, #582560 50%, #185c7c);
}

.theme-dark .PrivacyDash .dialog-header {
    background: linear-gradient(90deg, #893e15, #582560 50%, #185c7c);
}


/* settings tweaks bc why not lol */
.vivaldi-settings {
    background-color: transparent; /* maybe remove this if it breaks anything but so far nothing broke */
}

.vivaldi-settings .settings-sidebar {
    background-color: var(--colorBgAlphaBlur);
    backdrop-filter: var(--backgroundBlur);
}

.vivaldi-settings .settings-sidebar .button-category.category-selected {
    background-color: var(--colorHighlightBg);
    transition: 0.2s;
}
.vivaldi-settings .settings-sidebar .button-category.category-selected:hover {
    background-color: var(--colorHighlightBg);
    transition: 0.2s;
}

.vivaldi-settings .settings-sidebar .button-category:hover {
    background-color: var(--colorFgAlpha);
    transition: 0.35s;
}
.vivaldi-settings .settings-sidebar .button-category {
    transition: 0.5s ease-out;
}

